<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Tech Blog</title>
    
<!--<link href='../../public/styles/' rel='stylesheet'>  -->
</head>
  
  
<body>
    <div>
      <Header>
        <h1>
          <a href='/'>Tech Blog!</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <a href='/dashboard'>dashboard</a>
          <button id='logout'>logout</button> 
          {{/if}}
        </nav>
      </Header>
    <main>
      {{{body}}}
    </main>
</div>
{{#if loggedIn}}
<script src='/javascript/logout.js'></script>
{{/if}}
</body>
</html>