<!-- show the posts here -->


<!-- form to add a new post -->
<h2>Add A New Post</h2>
<form class='addPost'>
    <div>
    <label for='postTitle'>Add Title:</label>
    <input type='text' id='postTitle' name='postTitle'/>
    </div>
    <div>
        <label for='postBody'>Post content here</label>
        <input type='text' id='postBody' name='postBody'/>
    </div>
    <button type='submit' class='addPostButton'>Add Post</button>
</form>

<section>
    <h2>Your Posts</h2>
    <ol>
        <li>

        </li>
    </ol>
</section>

<script src='/javascript/add-post.js'></script>