<!-- show the posts here -->


<!-- form to add a new post -->
<h2>Add A New Post</h2>
<form class='addPost'>
    <div>
    <label for='postTitle'>Add Title:</label>
    <input type='text' id='postTitle' name='postTitle'/>
    </div>
    <div>
        <label for='postBody'>Post content here</label>
        <input type='text' id='postBody' name='postBody'/>
    </div>
    <button type='submit' id='addPostButton'>Add Post</button>
</form>

{{#if posts}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts}}
        <li>
        <h2>Post Title</h2>
        {{dataValues.title}}
        <br>
        <h2>Post Body</h2>
        {{dataValues.post_body}}
            
        </li>
        <div><a href='/dashboard/edit/{{dataValues.id}}'>Edit Post</a></div>
        {{/each}}
    </ol>
</section>
{{/if}}
<script src='/javascript/add-post.js'></script>
