<!-- show the posts here -->


<!-- form to add a new post -->
<h2>Add A New Post</h2>
<form class='addPost'>
    <div>
    <label for='postTitle'>Add Title:</label>
    <input type='text' id='postTitle' name='postTitle'/>
    </div>
    <div>
        <label for='postBody'>Post content here</label>
        <input type='text' id='postBody' name='postBody'/>
    </div>
    <button type='submit' class='addPostButton'>Add Post</button>
</form>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
        {{> post-info post}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}
<script src='/javascript/add-post.js'></script>