<div>
    <a href='/dashboard'> &larr; DashBoard</a>
    <h2>Edit Post</h2>
    
    <form class='editPost'>
        <div>
            {{posts.title}}
            <label for='postTitleEdit'>New Title:</label>
            <input id='postTitleEdit' type='text' value='{{title}}' />
        </div>
        <div>
            <label for='PostBodyEdit'>New Post Content</label>
            <input id='postBodyEdit' type='text' value='{{post_body}}'/>
        </div>
        <div></div>
        <button type='submit' id='editPost'>Save Post</button>
        <button type='button' id='deletePost'>Delete Post</button>
    </form>
   
</div>

<script src='/javascript/edit-post.js'></script>
<script src='/javascript/delete-post.js'></script>