<div>
    <a href='/dashboard'> &larr; DashBoard</a>
    <h2>Edit Post</h2>

    <form class=editPost>
        <div>
            <input name='postTitle' type='text' value='{{post.title}}' />
        </div>
        <div></div>
    </form>
</div>