<form class='loginForm'>
    <div>
        <label for='loginEmail'>Email:</label>
        <input type='text' id='loginEmail' />
    </div>
    <div>
        <label for='loginPass'>Password:</label>
        <input type='password' id='loginPass' />
    </div>
    <div> <button type='submit' id='loginBtn'>Login!</button>
    </div>
</form>

<form>
    <div>
        <label for='signupEmail'>Email:</label>
        <input type='text' id='signupEmail' />
    </div>
    <div>
        <label for='signupPass'>Password:</label>
        <input type='password' id='signupPass' />
    </div>
    <div>
        <label for='signupUser'>Username:</label>
        <input type='password' id='signupUser' />
    </div>
    <div> <button type='submit' id='signupBtn'>Signup!</button>
    </div>
</form>

<script src='/javascript/login.js'></script>